.mx-auto {
    text-align: center;
}

.card-row {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.blog-title {
    margin-bottom: 0;
}

.jumbotron {
    margin-top: 50px;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

/* .jumbotron {
    background-image: url("../images/joanna-kosinska-78uNJt1kPw8-unsplash.jpg");
} */

.main-content {
    background-image: url("../images/paul-earle-wVjd0eWNqI8-unsplash.jpg");
    image-rendering: high-quality;
}

/* .card-row {
    background-image: url("../images/paul-earle-wVjd0eWNqI8-unsplash.jpg");
} */
