.mx-auto {
    text-align: center;
}

.card-row {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.blog-title {
    margin-bottom: 0;
}

.jumbotron {
    margin-top: 50px;
}
